html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
}

.ui.container {
    width: 100%;
}

nav.ui.menu.inverted {
    margin-top:0;
    box-shadow: none;
    border: none;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.link-font {
    color: #4E937A !important;
}

#cover {
    background: rgba(255, 255, 255, 0.9);
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 782px;
}

.ui.menu .ui.dropdown .menu {
    border: 0;
}

.ui.menu .ui.dropdown .menu > .item {
    background: #1B1C1D !important;
    color: #4E937A !important;
}

.ui.menu .ui.dropdown .menu > .item:hover {
    background: #4E937A !important;
    color: #1B1C1D !important;
}

.ui.inverted.menu a.item:hover, .ui.inverted.menu .dropdown.item:hover, .ui.dropdown.item.link-font.active.visible {
    background: #4E937A;
    color: #1B1C1D !important;
}

#body-error {
    background-image: url('/images/goku-eating.gif');
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}


#cover-error {
    background: rgba(255, 255, 255, 0.5);
    padding-top: 50px;
    padding-bottom: 50px;
    height: calc(100% - 46.58px - 66px);
    min-height: 625px;
}

footer.desktop-only {
    padding-top: 25px;
    padding-bottom: 25px;
}

footer {
    color: white;
    font-size: 14px;
    background: #202020;
}

#body-home {
    background-image: url('/images/pandabento.jpg');
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-size: 18px;
}

#body-about {
    background-image: url('/images/pandasbento.jpg');
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#body-playto {
    background-image: url('/images/bearbento.jpg');
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#body-members {
    background-image: url('/images/sleepingbento.jpeg');
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#body-webgl {
    background-image: url('/images/gamebento.jpeg');
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#menu-img {
    height: 40px;
    width: auto;
    padding: 0;
    margin: 0;
}

.ten.wide.column, .five.wide.column {
    font-size: 18px;
}

.row h1 {
    font-size: 36px;
}

.row h2 {
    font-size: 30px;
}

#slogan {
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0.05em;
    position: absolute;
    bottom: 55px;
    right: 0;
}

#quote-block {
    color: gray;
}

#quote {
    font-size: 30px;
}

#kaylaImg {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

@media screen and (min-width: 769px) {

    .mobile-only {
        display: none;
    }

    #push-content {
        height: 65.99px;
    }

}

@media screen and (max-width: 768px) {

    .desktop-only {
        display: none;
    }

    #push-content {
        height: 47.69px;
    }

}

.hover-image {
    transition: all 250ms ease-in-out;
}

.hover-image:hover {
    transform: scale(1.5);
    z-index: 10;
}

.small-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}


audio::-webkit-media-controls {
    overflow: hidden !important
}

audio::-webkit-media-controls-enclosure {
    width: calc(100% + 32px);
    margin-left: auto;
}

blockquote {
    background: rgba(249,249,249, 0.3);
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote p {
    display: inline;
}
