<div id="quote-row" class="centered equal width row">
    <div id="quote-picture" class="six wide column">
        <img class="ui fluid rounded bordered image" src="/images/jasonleighquote.jpg" />
    </div>
    <div id="quote-block" class="left aligned middle aligned six wide column">
        <span id="quote">“These guys are good!”</span>
        <br />
        <em>
            Jason Leigh, Video Game Design Professor
            <br />
            (Photo: <a href="https://manoa.hawaii.edu/kaunana/student-builds-enormous-ipad-like-table-device/" class="link-font">Source</a>)
        </em>
    </div>
</div>

<div class="ui hidden divider"></div>

<div class="row">
    <h1>About</h1>
</div>

<div class="row">
    <div class="ten wide left aligned column">
        Dreaming Bento Productions is a game development team that was founded at the University of Hawaiʻi at Mānoa in October 2017. The team was formed for the Video Game Design course offered during the Fall Semester of 2017. The team had one goal in mind; to create a video game with simple mechanics and cute graphics that people will enjoy.
        <br />
        <br />
        As of now, the team members have either graduated or are on their way to graduating sometime soon. If you have enjoyed the game and what the any of the members have done, please do not be afraid get in contact with them, as they are looking to get a head start in their careers. You can find more information about them either below or in the menu.
    </div>
</div>

<div class="row">
    <h2>Video Game Design Course</h2>
</div>

<div class="row">
    <div class="ten wide left aligned column">
        Video Game Design was a course offered during the Fall Semester of 2017. It was a cross-listed course that was taught by both, <em>Jason Leigh</em>, for the Computer Science students, and <em>Dan Boulos</em>, for the Academy for Creative Media students. The goal of the course was to teach students various computer science, art and animation techniques through the use of designing video games. The students then had to demonstrate what they learned and work together as a team to create a video game, in which they saw potential in.
    </div>
</div>

<div class="ui hidden divider"></div>

<div class="row">
    <h1>The Team</h1>
</div>

<div class="row">
    <div class="twelve wide column">
        <img class="ui fluid rounded boredered image" src="/images/theteam.jpg" />
    </div>
</div>

<div class="row">
    <h2>Members</h2>
</div>

<div class="row">
    <div class="fourteen wide column">
    {% include aboutcards.html %}
    </div>
</div>

<div class="row">
    <h2>Why <em>Dreaming Bentos</em>?</h2>
</div>

<div class="row">
    <div class="ten wide left aligned column">
        Our team meetings were usually after each member's last class of the day, which so happened to fall during dinner time. As many can guess, we were hungry daydreaming about food, then bentos came to mind. Thus, the name <strong>Dreaming Bento</strong> was formed.
    </div>
</div>

<div class="ui hidden divider"></div>

<div class="row">
    <h1>Additional Credit</h1>
</div>

<div class="row">
    <div class="ten wide left aligned column">
        Without the help of these people, both the team and the game would not have been possible.
    </div>
</div>

<div class="row">
    <h2>Professors</h2>
</div>

<div class="row">
    <div class="eight wide column">
    {% include professorcards.html %}
    </div>
</div>

<div class="row">
    <h2>Music</h2>
</div>

<div class="row">
    <div class="four wide column">
    {% include fabian.html %}
    </div>
</div>

<div class="ui hidden divider"></div>
