<div class="ui doubling raised five cards">

    <a class="blue fluid card" href="{{ site.baseurl }}/about/jkbishay.html">
        <div class="content">
            <div class="header">{{ site.data.bio.justin.first }}</div>
            <div class="meta">{{ site.data.bio.justin.major }}</div>
            <div class="description">
                <p>
                    {{ site.data.bio.justin.titleoneabr }}
                </p>
                <p>
                    {{ site.data.bio.justin.titletwo }}
                </p>
            </div>
        </div>
    </a>

    <a class="blue fluid card" href="{{ site.baseurl }}/about/neilnthings.html">
        <div class="content">
            <div class="header">{{ site.data.bio.neil.first }}</div>
            <div class="meta">{{ site.data.bio.neil.major }}</div>
            <div class="description">
                <p>
                    {{ site.data.bio.neil.titleoneabr }}
                </p>
                <p>
                    {{ site.data.bio.neil.titletwo }}
                </p>
            </div>
        </div>
    </a>

    <a class="blue fluid card" href="{{ site.baseurl }}/about/kabalos.html">
        <div class="content">
            <div class="header">{{ site.data.bio.kayla.first }}</div>
            <div class="meta">{{ site.data.bio.kayla.majorabr }}</div>
            <div class="description">
                <p>
                    {{ site.data.bio.kayla.titleone }}
                </p>
                <p>
                    {{ site.data.bio.kayla.titletwo }}
                </p>
            </div>
        </div>
    </a>

    <a class="blue fluid card" href="{{ site.baseurl }}/about/mickyjm.html">
        <div class="content">
            <div class="header">{{ site.data.bio.mickey.nickn  }}</div>
            <div class="meta">{{ site.data.bio.mickey.major }}</div>
            <div class="description">
                <p>
                    {{ site.data.bio.mickey.titleone }}
                </p>
                <p>
                    {{ site.data.bio.mickey.titletwo }}
                </p>
            </div>
        </div>
    </a>

    <a class="blue fluid card" href="{{ site.baseurl }}/about/kaelig.html">
        <div class="content">
            <div class="header">{{ site.data.bio.kaeli.first }}</div>
            <div class="meta">{{ site.data.bio.kaeli.majorabr }}</div>
            <div class="description">
                <p>
                    {{ site.data.bio.kaeli.titleone }}
                </p>
                <p>
                    {{ site.data.bio.kaeli.titletwo }}
                </p>
            </div>
        </div>
    </a>

</div>
