<div class="ui doubling raised five cards">

    <a class="blue card" href="{{ site.baseurl }}/about/jkbishay.html">
        <div class="content">
            <div class="header">{{ site.data.bio.justin.first }}</div>
            <div class="meta">{{ site.data.bio.justin.major }}</div>
            <div class="description">
                <div class="ui left aligned list">
                    <div class="item"> {{ site.data.bio.justin.titleone }}</div>
                    <div class="item"> {{ site.data.bio.justin.titletwo }}</div>
                </div>
            </div>
        </div>
    </a>

    <a class="blue card" href="{{ site.baseurl }}/about/neilnthings.html">
        <div class="content">
            <div class="header">{{ site.data.bio.neil.first }}</div>
            <div class="meta">{{ site.data.bio.neil.major }}</div>
            <div class="description">
                <div class="ui left aligned list">
                    <div class="item"> {{ site.data.bio.neil.titleone }}</div>
                    <div class="item"> {{ site.data.bio.neil.titletwo }}</div>
                </div>
            </div>
        </div>
    </a>

    <a class="blue card" href="{{ site.baseurl }}/about/kabalos.html">
        <div class="content">
            <div class="header">{{ site.data.bio.kayla.first }}</div>
            <div class="meta">{{ site.data.bio.kayla.major }}</div>
            <div class="description">
                <div class="ui left aligned list">
                    <div class="item"> {{ site.data.bio.kayla.titleone }}</div>
                    <div class="item"> {{ site.data.bio.kayla.titletwo }}</div>
                </div>
            </div>
        </div>
    </a>

    <a class="blue card" href="{{ site.baseurl }}/about/mickyjm.html">
        <div class="content">
            <div class="header">{{ site.data.bio.mickey.nickn  }}</div>
            <div class="meta">{{ site.data.bio.mickey.major }}</div>
            <div class="description">
                <div class="ui left aligned list">
                    <div class="item"> {{ site.data.bio.mickey.titleone }}</div>
                    <div class="item"> {{ site.data.bio.mickey.titletwo }}</div>
                </div>
            </div>
        </div>
    </a>

    <a class="blue card" href="{{ site.baseurl }}/about/kaelig.html">
        <div class="content">
            <div class="header">{{ site.data.bio.kaeli.first }}</div>
            <div class="meta">{{ site.data.bio.kaeli.major }}</div>
            <div class="description">
                <div class="ui left aligned list">
                    <div class="item"> {{ site.data.bio.kaeli.titleone }}</div>
                    <div class="item"> {{ site.data.bio.kaeli.titletwo }}</div>
                </div>
            </div>
        </div>
    </a>

</div>
