<div class="row">
    <h1>Concept Art</h1>
</div>

<div class="ui hidden divider"></div>

<div class="row">
    <h2>Neil's Artwork</h2>
</div>

<div class="ui divider"></div>

<div class="ui centered stackable grid container">
{% for image in site.static_files %}
    {% if image.path contains '/images/concept/neil/' %}
        <div class="four wide column">
            <a href="{{ site.baseurl}}{{ image.path }}" target="_blank">
            <img class="ui fluid bordered image hover-image" src="{{ site.baseurl }}{{ image.path }}" />
            </a>
        </div>
    {% endif %}
{% endfor %}
</div>

<div class="ui hidden divider"></div>

<div class="row">
    <h2>Kayla Mae's Artwork</h2>
</div>

<div class="ui divider"></div>

<div class="ui centered stackable grid container">
{% for image in site.static_files %}
    {% if image.path contains '/images/concept/doll/' %}
        <div class="four wide column">
            <a href="{{ site.baseurl}}{{ image.path }}" target="_blank">
            <img class="ui fluid bordered image hover-image" src="{{ site.baseurl }}{{ image.path }}" />
            </a>
        </div>
    {% endif %}
{% endfor %}
</div>

<div class="ui centered stackable grid container">
{% for image in site.static_files %}
    {% if image.path contains '/images/concept/kayla/' %}
        <div class="four wide column">
            <a href="{{ site.baseurl}}{{ image.path }}" target="_blank">
            <img class="ui fluid bordered image hover-image" src="{{ site.baseurl }}{{ image.path }}" />
            </a>
        </div>
    {% endif %}
{% endfor %}
</div>

<div class="ui hidden divider"></div>

<div class="row">
    <h2>Kaeli's Artwork'</h2>
</div>

<div class="ui divider"></div>

<div class="ui centered stackable grid container">
{% for image in site.static_files %}
    {% if image.path contains '/images/concept/kaeli/' %}
        <div class="four wide column">
            <a href="{{ site.baseurl}}{{ image.path }}" target="_blank">
            <img class="ui fluid bordered image hover-image" src="{{ site.baseurl }}{{ image.path }}" />
            </a>
        </div>
    {% endif %}
{% endfor %}
</div>

<div class="ui hidden divider"></div>

<div class="row">
    <h1>Storyboard</h1>
</div>

<div class="ui divider"></div>

<div class="ui centered stackable grid container">
{% for image in site.static_files %}
    {% if image.path contains '/images/storyboard/' %}
        <div class="four wide column">
            <a href="{{ site.baseurl}}{{ image.path }}" target="_blank">
            <img class="ui fluid bordered image hover-image" src="{{ site.baseurl }}{{ image.path }}" />
            </a>
        </div>
    {% endif %}
{% endfor %}
</div>
