<div class="row">
    <h1>Concept Art</h1>
</div>

<div class="ui hidden divider"></div>

<div class="row">
    <h2>Neil's Artwork</h2>
</div>

<div class="row">
    <div class="ui accordion">
        <div class="title">
            <h3 class="link-font">View <i class="dropdown icon"></i></h3>
        </div>
        <div class="content">
            <div class="transition hidden">
                {% for image in site.static_files %}
                {% if image.path contains '/images/concept/neil/' %}
                <div class="small-padding">
                    <img class="ui large bordered image" src="{{ site.baseurl }}{{ image.path }}" />
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="ui hidden divider"></div>

<div class="row">
    <h2>Kayla's Artwork</h2>
</div>

<div class="row">
    <div class="ui accordion">
        <div class="title">
            <h3 class="link-font">View <i class="dropdown icon"></i></h3>
        </div>
        <div class="content">

            <div class="transition hidden">
                {% for image in site.static_files %}
                {% if image.path contains '/images/concept/doll/' %}
                <div class="small-padding">
                    <img class="ui large bordered image" src="{{ site.baseurl }}{{ image.path }}" />
                </div>
                {% endif %}
                {% endfor %}

                {% for image in site.static_files %}
                {% if image.path contains '/images/concept/kayla/' %}
                <div class="small-padding">
                    <img class="ui large bordered image" src="{{ site.baseurl }}{{ image.path }}" />
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
</div>


<div class="ui hidden divider"></div>

<div class="row">
    <h2>Kaeli's Artwork</h2>
</div>

<div class="row">
    <div class="ui accordion">
        <div class="title">
            <h3 class="link-font">View <i class="dropdown icon"></i></h3>
        </div>
        <div class="content">

            <div class="transition hidden">
                {% for image in site.static_files %}
                {% if image.path contains '/images/concept/kaeli/' %}
                <div class="small-padding">
                    <img class="ui large bordered image" src="{{ site.baseurl }}{{ image.path }}" />
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
</div>

<div class="ui hidden divider"></div>

<div class="row">
    <h2>Storyboard</h2>
</div>

<div class="row">
    <div class="ui accordion">
        <div class="title">
            <h3 class="link-font">View <i class="dropdown icon"></i></h3>
        </div>
        <div class="content">

            <div class="transition hidden">
                {% for image in site.static_files %}
                {% if image.path contains '/images/storyboard/' %}
                <div class="small-padding">
                    <img class="ui large bordered image" src="{{ site.baseurl }}{{ image.path }}" />
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
</div>
