<footer>
    <div class="ui stackable inverted menu">
            <div class="item">
                <h3 class="ui inverted header" style="color: white;">Contact</h3>
            </div>
            <div class="item">
                <a class="link-font" href="mailto:{{ site.data.bio.neil.email }}">{{ site.data.bio.neil.name }}</a>
            </div>
            <div class="item">
                <a class="link-font" href="mailto:{{ site.data.bio.kayla.email }}">{{ site.data.bio.kayla.name }}</a>
            </div>
            <div class="item">
                <a class="link-font" href="mailto:{{ site.data.bio.justin.email }}">{{ site.data.bio.justin.name }}</a>
            </div>
            <div class="item">
                <a class="link-font" href="mailto:{{ site.data.bio.kaeli.email }}">{{ site.data.bio.kaeli.name }}</a>
            </div>
            <div class="item">
                <a class="link-font" href="mailto:{{ site.data.bio.mickey.email }}">{{ site.data.bio.mickey.nickname }}</a>
            </div>
            <div class="item">
                [<a href="{{ site.baseurl }}/reference/" class="link-font">Image Sources</a>]
            </div>
    </div>
</footer>
