<div class="row">
    <h2><i class="game icon"></i>Controls</h2>
</div>

<div class="row">

    <div class="four wide left aligned column">
        <h4>Basic</h4>
        <div class="ui list">
            <div class="item">
                Left arrow key: Move left
            </div>
            <div class="item">
                Right arrow key: Move right
            </div>
            <div class="item">
                Enter: Activate
            </div>
        </div>
    </div>

    <div class="four wide left aligned column">
        <h4>Circle Mode</h4>
        <div class="ui list">

            <div class="item">
                <div class="content">
                    "A" to activate.
                    <div class="description">
                        Basic form of movement. Roll left and right to travel.
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="four wide left aligned column">
        <h4>Box Mode</h4>
        <div class="ui list">

            <div class="item">
                <div class="content">
                    "S" to activate.
                    <div class="description">
                        Form of defense and activation. Allows you block and stun enemies and activate certain switches.
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="four wide left aligned column">
        <h4>Stick Mode</h4>
        <div class="ui list">

            <div class="item">
                <div class="content">
                    "D" to activate.
                    <div class="description">
                        Advance form of movement. Allows you to stretch into higher places or tiny crevices.
                        <br />
                        Up, Left, Right to stretch in the direction.
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
