<div class="row">
    <h1>WE LOVE BENTOS AND GAMES</h1>
</div>

<div class="row">
    <div class="twelve wide column">
    {{ site.data.bio.basics.summary }}
    </div>
</div>

<div class="row">
    <a href="{{ site.baseurl }}/about/" class="ui inverted green huge button">THE TEAM</a>
</div>

<div class="ui hidden divider"></div>

<div class="row">
    <div class="twelve wide column">
        <img id="landingImg" class="ui fluid bordered image" src="images/playtostartmenu.png" />
    </div>
</div>

<div class="row">
    <div class="twelve wide column">
    {{ site.data.bio.playto.summary }}
    </div>
</div>

<div class="row">
    <div class="twelve wide column">
        <div class="video-container">
            <iframe src="{{ site.data.bio.playto.trailer }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="row">
    <a href="{{ site.baseurl }}/playto/" class="ui inverted green huge button">LEARN MORE</a>
</div>

<div class="ui hidden divider"></div>

<div class="row">
    <h1>GET IN TOUCH WITH US</h1>
</div>

<div class="row">
    <div class="twelve wide column">
    {{ site.data.bio.basics.message }}
    </div>
</div>

<div class="row">
    <a href="{{ site.baseurl }}/about/members/" class="ui inverted green huge button">CONTACT US</a>
</div>

<div class="ui hidden header"></div>
