<div class="row">
    <h1>WE LOVE BENTOS AND GAMES</h1>
    </div>

    <div class="row">
        <div class="twelve wide column">
            We are just a team of people dreaming about both bentos and developing video games. We formed our team at the University of Hawaiʻi at Mānoa to create a video game in which we saw potential in. We did our very best to create the video game and we do hope you will enjoy it as much as we made it.
        </div>
    </div>

    <div class="ui inverted divider"></div>

    <div class="row">
        <div class="twelve wide column">
            <div class="ui fluid image">
                <img src="images/playtostartmenu.png" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="twelve wide column">
            Plato, a ball of Play-Doh, was formed when a little girl mushed and molded a wide range of colored Play-Doh. She then left him aside, which made him lose his color. Join Plato in meeting and rescuing other toys, in his quest to find happiness and color in his life.
        </div>
    </div>

    <div class="row">
        <iframe width="1008" height="567" src="https://www.youtube.com/embed/rF77Qwb10Bo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>

    <div class="row">
        <form action="{{ site.baseurl }}/playto">
            <button class="ui inverted blue huge button">LEARN MORE</button>
        </form>
    </div>

    <div class="ui inverted divider"></div>

    <div class="row">
        <h1>GET IN TOUCH WITH US</h1>
    </div>

    <div class="row">
        <div class="twelve wide column">
            Many of us have either graduated or will be soon and would love to get a head start in our careers. If you love the effort that we made into our game and want to know what we did, please check us out and get in touch with us.
        </div>
    </div>

    <div class="row">
        <form action="{{ site.baseurl }}/about">
            <button class="ui inverted blue huge button">CONTACT US</button>
        </form>
    </div>

    <div class="ui inverted divider"></div>

</div>
