<a class="ui raised card" onclick="kaeliModal()">
    <img class="ui image" src="{{ site.baseurl }}/{{ site.data.bio.kaeli.headshot }}" />
    <div class="content">
        <div class="header">{{ site.data.bio.kaeli.name }}</div>
        <div class="meta">{{ site.data.bio.kaeli.major }}</div>
    </div>
    <div class="ui bottom attached blue button">
        <i class="browser icon"></i>
        About
    </div>
</a>

<div id="kaeliModal" class="ui modal">
    <div class="header">
        {{ site.data.bio.kaeli.name }}
    </div>
    <div class="image content">
        <div class="ui image">
            <img src="{{ site.data.bio.kaeli.toy }}">
        </div>
        <div class="description">
            <div class="ui header">{{ site.data.bio.kaeli.major }} &mdash; {{ site.data.bio.kaeli.title }}</div>
            <p>{{ site.data.bio.kaeli.bio }}</p>
            <div class="ui segment">
                <div class="ui relaxed animated list">
                    <div class="item">
                        <div class="content">
                            <i class="mail icon"></i><a href="mailto:{{ site.data.bio.kaeli.email }}">{{ site.data.bio.kaeli.email }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="actions">
        <div class="ui positive right labeled icon button">
            Close
            <i class="x icon"></i>
        </div>
    </div>
</div>
