<a class="ui raised card" onclick="kaylaModal()">
    <img class="ui image" src="{{ site.data.bio.kayla.headshot }}" />
    <div class="content">
        <div class="header">{{ site.data.bio.kayla.name }}</div>
        <div class="meta">{{ site.data.bio.kayla.major }}</div>
    </div>
    <div class="ui bottom attached teal button">
        <i class="browser icon"></i>
        About
    </div>
</a>

<div id="kaylaModal" class="ui modal">
    <div class="header">
        {{ site.data.bio.kayla.name }}
    </div>
    <div class="image content">
        <div class="ui image">
            <img src="{{ site.data.bio.kayla.toy }}" />
        </div>
        <div class="description">
            <div class="ui header">{{ site.data.bio.kayla.major }} &mdash; {{ site.data.bio.kayla.title }}</div>
            <p>{{ site.data.bio.kayla.bio }}</p>
            <div class="ui segment">
                <div class="ui relaxed animated list">
                    <div class="item">
                        <div class="content">
                            <i class="mail icon"></i><a href="mailto:{{ site.data.bio.kayla.email }}">{{ site.data.bio.kayla.email }}</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <i class="linkedin square icon"></i><a href="{{ site.data.bio.kayla.linkedin }}" target="_blank">{{ site.data.bio.kayla.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="actions">
        <div class="ui positive right labeled icon button">
            Close
            <i class="x icon"></i>
        </div>
    </div>
</div>
