<div class="ui top inverted three item fixed menu">
    <div class="ui container">
        <a class="centered item" href="{{ site.baseurl }}/">DREAMING BENTO</a>
        <div class="ui simple dropdown item">ABOUT
            <div class="menu">
                <a class="item" href="{{ site.baseurl }}/about/">THE TEAM</a>
                <a class="item" href="{{ site.baseurl }}/about/members.html">THE MEMBERS</a>
            </div>
        </div>
        <div class="ui simple dropdown item">PLAYTO
            <div class="menu">
                <a class="item" href="{{ site.baseurl }}/playto">ABOUT</a>
                <a class="item" href="{{ site.baseurl }}/playto/concept-art.html">CONCEPT ART</a>
                <a class="item" href="{{ site.baseurl }}/playto/play/">PLAY NOW</a>
            </div>
        </div>
    </div>
</div>
