<div class="ui hidden divider"></div>

<div class="ui grid container">
    <div class="centered row">
        <h2>Oh no!</h2>
    </div>
    <div class="row">
        <div class="twelve wide left aligned column">
            It seems that you are browsing the website on a mobile device.
            <br />
            Unfortunately WebGL does not support mobile browsers.
            <br />
            Read more about it <a href="https://answers.unity.com/questions/966721/unity5-webgl-for-mobile-browsers.html" class="link-font">here</a>.
        </div>
        <div class="four wide column">
            <h3>I am sorry.</h3>
            <h1>:'(</h1>
        </div>
    </div>

    <div class="ui hidden divider"></div>

    <div class="centered row">
        <h2>Video Gameplay</h2>
    </div>
    <div class="centered row">
        <strong>Do not worry!</strong>
        Luckily we do have a video demo you can watch to keep you busy.
    </div>
    <div class="row">
        <div class="sixteen wide column">
                <div class="video-container">
                <iframe id="gameplayVideo" src="{{ site.data.bio.playto.gameplay }}?enablejsapi=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
        </div>
    </div>
</div>
