<div class="row">
    <div class="twelve wide column">
        <img class="ui fluid bordered image" id="playto-banner" src="/images/playtostartmenu.png" />
    </div>
</div>

<div class="centered stackable row">
    <div class="five wide left aligned column">
        <h2>What is <em>Playto</em>?</h2>
        A 2D problem-solving / platformer game centered around a grumpy lump of “play dough” who wants to be happy. The play dough can shift into three different shapes: a ball that’s able to roll side to side, an invulnerable block that concentrates his mass so he can drop down, and a longer stick shape that lets the play dough climb up to higher platforms or form bridges across gaps.
    </div>

    <div class="column">

    </div>

    <div class="five wide left aligned column">
        <h2>The Story</h2>
        A 2D problem-solving / platformer game centered around a grumpy lump of “play dough” who wants to be happy. The play dough can shift into three different shapes: a ball that’s able to roll side to side, an invulnerable block that concentrates his mass so he can drop down, and a longer stick shape that lets the play dough climb up to higher platforms or form bridges across gaps.
    </div>
</div>

<div class="ui divider"></div>

<div class="row">
    <h1>Play Playto Now!</h1>
</div>

<div class="row">
    <h2>Browser Version</h2>
</div>

<div class="row">
    <div class="ten wide left aligned column">
        Play Playto now! The game was created using Unity and built using WebGL, so you can run the game through your broswer. In order to play, just click the link right below and do make sure that your browser supports WebGL and is up-to-date.
    </div>
</div>

<div class="row">
    <form action="{{ site.baseurl }}/playto/play/">
        <button class="ui blue button">PLAY NOW!</button>
    </form>
</div>

<div class="row">
    <h2>Video Playthrough</h2>
</div>

<div class="row">
    <div class="ten wide left aligned column">
        If you are having trouble playing the demo through your browser, below is a video going through the demo.
    </div>
</div>


<div class="row">
    <iframe width="784" height="441" src="https://www.youtube.com/embed/rF77Qwb10Bo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<div class="ui divider"></div>

<div class="row">
    <h1>Concept Art</h1>
</div>

<div class="row">
    <div class="ten wide left aligned column">
        Here are some of the concept art of Playto.
    </div>
</div>

<div class="centered row">
    <div class="six wide column">
        <img class="ui fluid bordered image" src="https://neilnthings.github.io/images/playdough.png" />
    </div>
    <div class="six wide column">
        <img class="ui fluid bordered image" src="https://neilnthings.github.io/images/playdough_ball.png" />
    </div>
</div>

<div class="row">
    <form action="{{ site.baseurl }}/playto/concept-art">
        <button class="ui blue button">VIEW MORE</button>
    </form>
</div>

<div class="ui divider"></div>

<div class="row">
    <h1>Updates</h1>
</div>

<div class="row">
    <div class="ten wide left aligned column">
        Like our game? Keep up with our blog updates as we continue to develop the game.
    </div>
</div>

<div class="row">
    <form action="https://dreamingbento.wordpress.com/playto/updates/">
        <button class="ui blue button">READ MORE</button>
    </form>
</div>
