<div class="row">
    <div class="twelve wide column">
        <img class="ui fluid bordered image" id="playto-banner" src="/images/playtostartmenu.png" />
    </div>
</div>

<div class="centered stackable row">
    <div class="five wide left aligned column">
        <h2>What is <em>Playto</em>?</h2>
        A 2D problem-solving / platformer game centered around a grumpy lump of “play dough” who wants to be happy. The play dough can shift into three different shapes: a ball that’s able to roll side to side, an invulnerable block that concentrates his mass so he can drop down, and a longer stick shape that lets the play dough climb up to higher platforms or form bridges across gaps.
    </div>

    <div class="column">

    </div>

    <div class="five wide left aligned column">
        <h2>The Story</h2>
        A 2D problem-solving / platformer game centered around a grumpy lump of “play dough” who wants to be happy. The play dough can shift into three different shapes: a ball that’s able to roll side to side, an invulnerable block that concentrates his mass so he can drop down, and a longer stick shape that lets the play dough climb up to higher platforms or form bridges across gaps.
    </div>
</div>

<div class="ui hidden divider"></div>

<div class="row">
    <h1>Play Playto Now!</h1>
</div>

<div class="centered row">
    <div class="five wide left aligned column">
        <h2>Play in Browser!</h2>
        Play the game through your browser!<br /><br />
        <form action="{{ site.baseurl }}/playto/play/">
            <button class="ui blue button">PLAY NOW!</button>
        </form>
        <br />*Requires WebGL support.

        <!--<h2>Download!</h2>
        Download the game onto your computer!
        <br />
        <br />
        <button class="ui blue button">WINDOWS</button>
        <br />
        <br />*Not available yet.-->
    </div>

    <div class="five wide left aligned column">
        <h2>Watch!</h2>
        <a id="playtoImg" class="ui centered medium circular bordered image">
            <img src="/images/screencap.png"/>
        </a>
        <br />
        Can't play in browser? Trouble downloading? Watch the video demo walkthrough!
    </div>
</div>

<div class="ui hidden divider"></div>

<div class="row">
    <h1>Concept Art</h1>
</div>

<div class="row">
    <div class="ten wide left aligned column">
        Here are some of the concept art of Playto.
    </div>
</div>

<div class="centered row">
    <div class="six wide column">
        <img class="ui fluid bordered image" src="/images/concept/neil/001.png" />
    </div>
    <div class="six wide column">
        <img class="ui fluid bordered image" src="/images/concept/neil/002.png" />
    </div>
</div>

<div class="row">
    <a href="{{ site.baseurl }}/playto/concept-art/" class="ui large blue button">VIEW MORE</a>
</div>

<div class="ui hidden divider"></div>

<div class="row">
    <h1>Updates</h1>
</div>

<div class="row">
    <div class="ten wide left aligned column">
        Like our game? Keep up with our blog updates as we continue to develop the game.
    </div>
</div>

<div class="row">
    <a href="https://dreamingbento.wordpress.com/playto/updates/" class="ui large blue button">READ MORE</a>
</div>

<div class="ui hidden divider"></div>
