<div class="row">
    <div class="eight wide column">
        <a href="{{ site.baseurl }}/{{ page.permalink }}" class="ui fluid card">
            <div class="center aligned content">
                <div class="header">{{ include.page.title }}</div>
                <div class="meta">{{ include.page.date | date_to_long_string }}</div>
                <div class="left aligned description">
                    <p>{{ include.page.summary | remove: 'Hey everyone!<br /><br />' | truncate: 150 }}</p>
                </div>
            </div>
            <div class="ui bottom attached green button">
                Read More
                <i class="right arrow icon"></i>
            </div>
        </a>
    </div>
</div>
<div class="ui hidden divider"></div>
