<div class="ui doubling raised cards">

    <a class="blue card" href="https://www.mindmeister.com/853255456?t=8kkUtoEmru" target="_blank">
        <img class="ui image" src="/images/jasonleigh.jpg" />
        <div class="content">
            <div class="header">Jason Leigh</div>
            <div class="meta">ICS Professor</div>
        </div>
    </a>

    <a class="green card" href="http://acm.hawaii.edu/dan-boulos" target="_blank">
        <img class="ui image" src="/images/danboulos.jpg" />
        <div class="content">
            <div class="header">Dan Boulos</div>
            <div class="meta">ACM Professor</div>
        </div>
    </a>

</div>
