<div class="ui doubling raised cards">

    <a class="card" href="https://www.mindmeister.com/853255456?t=8kkUtoEmru" target="_blank">
        <img class="ui image" src="/images/headshots/jason.jpg" />
        <div class="content">
            <div class="header">Jason Leigh</div>
            <div class="meta">ICS Professor</div>
        </div>
        <div class="ui bottom attached blue button">
            <i class="browser icon"></i>
            About
        </div>
    </a>

    <a class="card" href="http://acm.hawaii.edu/dan-boulos" target="_blank">
        <img class="ui image" src="/images/headshots/dan.jpg" />
        <div class="content">
            <div class="header">Dan Boulos</div>
            <div class="meta">ACM Professor</div>
        </div>
        <div class="ui bottom attached green button">
            <i class="browser icon"></i>
            About
        </div>
    </a>

</div>
