<div class="ui doubling raised two cards">
    {% for professor in site.data.bio.professors %}
    <a class="card" href="{{ professor.website }}" target="_blank">
        <img class="ui image" src="{{ site.baseurl }}/{{ professor.photo }}" />
        <div class="center aligned content">
            <div class="header">{{ professor.name }}</div>
            <div class="meta">{{ professor.position }}</div>
        </div>
        <div class="ui bottom attached {{ professor.color }} button">
            <i class="browser icon"></i>
            About
        </div>
    </a>
    {% endfor %}
</div>
