---
layout: team
title: Members
---

<div class="row">
    <h1>The Members</h1>
</div>

<div class="row">
    <h2>Academy for Creative Media</h2>
</div>

<div class="row">
    <div class="ui stackable cards">
        {% include kayla.html %}
        {% include kaeli.html %}
    </div>
</div>

<div class="ui divider"></div>

<div class="row">
    <h2>Computer Science</h2>
</div>
<div class="row">
    <div class="ui stackable cards">
        {% include neil.html %}
        {% include mickey.html %}
        {% include justin.html %}
    </div>
</div>
