h1, h2 {
    font-family: 'Lora', Georgia, serif;
    color: #83b6cc;
}

#header {
    font-size: 36px;
    padding-top: 100px;
    padding-bottom: 50px;
}

footer {
    font-family: 'Lora', Georgia, serif;
}

button {
    font-family: 'Karla', Arial, sans-serif;
}

#body-landing {
    background-image: url('/images/pandabento.jpg');
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-size: 24px;
}

#body-about {
    background-image: url('/images/pandasbento.jpg');
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#body-game {
    background-image: url('/images/bearbento.jpg');
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#body-team {
    background-image: url('/images/sleepingbento.jpeg');
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.twelve.wide.column {
    font-size: 24px;
}

.ten.wide.column, .five.wide.column {
    font-size: 18px;
}

.row h1 {
    font-size: 36px;
}

.row h2 {
    font-size: 30px;
}

#home-item {
    text-transform: uppercase;
}

#header-title {
    font-family: 'Karla', Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    color: white;
}

#header-description {
    font-family: 'Lora', Georgia, serif;
    font-style: italic;
    line-height: 1.5;
    color: white;
}

#landing {
    font-family: 'Lora', Georgia, serif;
    color: white;
    margin-left: 1.25em;
    margin-right: 1.25em;
    background: rgba(0, 0, 0, 0.5);
}

#about {
    font-family: 'Lora', Georgia, serif;
    margin-left: 1.25em;
    margin-right: 1.25em;
    background: rgba(255, 255, 255, 0.9);
}

#about-header {
    background: rgba(0, 0, 0, 0.5);
}

#quote-block {
    color: gray;
}

#quote {
    font-size: 30px;
}
