---
layout: default
title: Playing Playto
id: webgl
---

<div class="row">
    <h1>Playto</h1>
</div>

<div class="row desktop-only">
    <div class="sixteen wide center aligned column">

        <div class="desktop-only">
        {% include game.html %}
        </div>

        <div class="mobile-only">
        {% include noshow.html %}
        </div>

    </div>
</div>

<div class="desktop-only">
    <div class="ui centered grid container">
        {% include gamecontrols.html %}
    </div>
</div>

<div class="ui hidden divider"></div>
