<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body id="body-about">
        <div id="cover">
            <div class="ui centered stackable grid container">
            {% include header.html %}
            {% include menu.html %}
            </div>
            <div class="ui hidden divider"></div>
            <div id="about" class="ui centered stackable grid container content">
            {{ content }}
            </div>
            <div class="ui hidden divider"></div>
        </div>
        {% include footermobile.html %}
        {% include footer.html %}
    </body>
</html>
