---
layout: about
---
<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="body-about">
        <div id="about" class="ui centered grid container content">
            <div class="row">
                {% include menu.html %}
            </div>
            <div id="about-header" class="row">
                {% include header.html %}
            </div>
            <div class="ui divider"></div>
            {{ content }}
            <div class="row">
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
