<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        {% if page.id == 'webgl' %}
        {% include head-unity.html %}
        {% endif %}
    </head>
    <body id="body-{{ page.id | downcase }}">
        {% include menu.html %}
        <div id="push-content"></div>
        <div id="cover">
            <div id="{{ page.title | downcase }}" class="ui centered stackable grid container">
            {{ content }}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
